
<div>
  <p><strong><%= link_to "Your listings", listings_path, class: "m-4", id: "orange" %></strong></p>
  <p><strong><%= link_to "Your bookings", bookings_path, class: "m-4", id: "orange" %></strong></p>
</div>


