.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 30px;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  padding: 10px 20px;
  border-bottom: 1px solid #ddd;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.navbar-logo {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  font-weight: 500;
  color: #FF9F1C;
}

.logo-icon {
  margin-right: 5px;

}

.navbar-search {
  flex-grow: 1;
  display: flex;
  justify-content: center;
}

.search-input {
  width: 70%;
  padding: 10px 15px;
  border: 1px solid #ccc;
  border-radius: 20px;
  font-size: 1rem;
  outline: none;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: border-color 0.3s ease;
}

.search-input:focus {
  border-color: #FF9F1C;
}

.search-button {
  position: absolute;
  right: calc(20% + 10px); /* Adjusts button inside the input */
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  font-size: 1.2rem;
  cursor: pointer;
  color: #333;
}

.pill {
  width: 100px;
  height: 40px;
  background-color: #D7AB6F;
  border-radius: 24px;
}

.fa-home {
  color: white;
  transition: background-color 0.3s ease;
  position: absolute;
  top: 12px;
  left: 20px;
}

.fa-home:hover {
  color: #888888;
}

.fa-user {
  color: white;
  transition: background-color 0.3s ease;
  position: absolute;
  top: 12px;
  left: 60px;
}

.fa-user:hover {
  color: #888888;
}
