<h1 class="m-4 text-center">Instrument listings</h1>
<div class="d-flex">
  <% @instruments.each do |instrument| %>
    <div class="m-4 card" style="width: 18rem;">
      <div class="card-body">
        <p><%= link_to instrument.title, instrument_path(instrument), class: "card-title" %></p>
        <p class="card-text"><%= instrument.condition%></p>
        <p class="card-text">£<%= instrument.price_per_day%>.00</p>
        <p class="card-text"><%= instrument.address%></p>
      </div>
    </div>
  <% end %>
</div>
