<h1 class="m-4 text-center">Instrument listings page</h1>
<div class="d-flex">
  <% @instruments.each do |instrument| %>
    <div class="m-4 card" style="width: 18rem;">
      <div class="card-body">
        <p><%= link_to instrument.title, instrument_path(instrument), class: "card-title" %></p>
        <p class="card-text"><%= instrument.description%></p>
        <p><%= link_to "Delete", instrument_path(instrument), class: "btn btn-primary", data: {
          turbo_method: :delete,
          turbo_confirm: "Are you sure?" } %></li>
      </div>
    </div>
  <% end %>
</div>



<%= link_to "Add New instrument", new_instrument_path, class: "m-4 btn btn-secondary" %>
